<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeWork5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA6BE8371E56C8FD000EDA06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6BE84B1E56C8FD000EDA06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6BE8561E56C8FD000EDA06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
